<div class="face-snap-card" *ngIf="faceSnaps$ | async as faceSnap" [ngClass]="{snapped : messageButtom === 'Oops unSnaps'}">
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <a routerLink="/facesnaps">Back</a>
  <p>Mis en ligne le {{ faceSnap.createdDate | date: 'dd/MM/yy, à HH:mm' }}</p>
  <p>{{ faceSnap.createdDate| date: 'le d MMMM yyyy' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location==='Paris la montagne'">Photo prise à {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap(faceSnap.id)">{{messageButtom}}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
  </p>
  <p>{{ 4346234.36 | number }}Un nombre pour la demo des pipes</p>

</div>
